In [1]:
with open('arabic.txt', encoding='utf8') as f:
    s=f.read()
s

'ชื่อจังหวัด อักษรไทย,ชื่อจังหวัด อักษรโรมัน,จำนวนประชากร (คน),พื้นที่ (ตร.กม.),ความหนาแน่น ประชากร (คน/ตร.กม.),ดพม.[2],ตัวย่อ อักษรไทย,ตัวย่อ อักษรโรมัน,รหัส ไอเอสโอ,รหัสฟิปส์\nกระบี่,Krabi,432704,4708.5,91.9,0.805,กบ,KBI,TH-81,TH63\nชุมพร,Chumphon,489964,6009.0,81.5,0.71,ชพ,CPN,TH-86,TH58\nตรัง,Trang,622659,4917.5,126.6,0.69,ตง,TRG,TH-92,TH65\nนครศรีธรรมราช,Nakhon Si Thammarat,1522561,9942.5,153.1,0.769,นศ,NRT,TH-80,TH64\nนราธิวาส,Narathiwat,737162,4475.4,164.7,0.636,นธ,NWT,TH-96,TH31\nปัตตานี,Pattani,655259,1940.4,337.7,0.698,ปน,PTN,TH-94,TH69\nพังงา,Phangnga,253112,4170.0,60.7,0.758,พง,PNA,TH-82,TH61\nพัทลุง,Phatthalung,509534,3424.5,148.8,0.713,พท,PLG,TH-93,TH66\nภูเก็ต,Phuket,345067,543.0,635.5,0.92,ภก,PKT,TH-83,TH62\nยะลา,Yala,500814,4521.08,110.77,0.687,ยล,YLA,TH-95,TH70\nระนอง,Ranong,183079,3298.0,55.5,0.67,รน,RNG,TH-85,TH59\nสงขลา,Songkhla,1357023,7393.9,183.5,0.68,สข,SKA,TH-90,TH68\nสตูล,Satun,297163,2479.0,119.9,0.655,สต,STN,TH-91,TH67\nสุราษฎร์ธานี,Surat Thani,1046772,12891.5,81.2,0.84,สฎ,SNI,TH-84,TH60'

In [2]:
d={
    '0': '๐',
    '1': '๑',
    '2': '๒',
    '3': '๓',
    '4': '๔',
    '5': '๕',
    '6': '๖',
    '7': '๗',
    '8': '๘',
    '9': '๙'
}
d

{'0': '๐',
 '1': '๑',
 '2': '๒',
 '3': '๓',
 '4': '๔',
 '5': '๕',
 '6': '๖',
 '7': '๗',
 '8': '๘',
 '9': '๙'}

In [3]:
d['5']

'๕'

In [5]:
s_th=''
for c in s:
    if c.isdigit():
        s_th += d[c]
    else:
        s_th += c
s_th

'ชื่อจังหวัด อักษรไทย,ชื่อจังหวัด อักษรโรมัน,จำนวนประชากร (คน),พื้นที่ (ตร.กม.),ความหนาแน่น ประชากร (คน/ตร.กม.),ดพม.[๒],ตัวย่อ อักษรไทย,ตัวย่อ อักษรโรมัน,รหัส ไอเอสโอ,รหัสฟิปส์\nกระบี่,Krabi,๔๓๒๗๐๔,๔๗๐๘.๕,๙๑.๙,๐.๘๐๕,กบ,KBI,TH-๘๑,TH๖๓\nชุมพร,Chumphon,๔๘๙๙๖๔,๖๐๐๙.๐,๘๑.๕,๐.๗๑,ชพ,CPN,TH-๘๖,TH๕๘\nตรัง,Trang,๖๒๒๖๕๙,๔๙๑๗.๕,๑๒๖.๖,๐.๖๙,ตง,TRG,TH-๙๒,TH๖๕\nนครศรีธรรมราช,Nakhon Si Thammarat,๑๕๒๒๕๖๑,๙๙๔๒.๕,๑๕๓.๑,๐.๗๖๙,นศ,NRT,TH-๘๐,TH๖๔\nนราธิวาส,Narathiwat,๗๓๗๑๖๒,๔๔๗๕.๔,๑๖๔.๗,๐.๖๓๖,นธ,NWT,TH-๙๖,TH๓๑\nปัตตานี,Pattani,๖๕๕๒๕๙,๑๙๔๐.๔,๓๓๗.๗,๐.๖๙๘,ปน,PTN,TH-๙๔,TH๖๙\nพังงา,Phangnga,๒๕๓๑๑๒,๔๑๗๐.๐,๖๐.๗,๐.๗๕๘,พง,PNA,TH-๘๒,TH๖๑\nพัทลุง,Phatthalung,๕๐๙๕๓๔,๓๔๒๔.๕,๑๔๘.๘,๐.๗๑๓,พท,PLG,TH-๙๓,TH๖๖\nภูเก็ต,Phuket,๓๔๕๐๖๗,๕๔๓.๐,๖๓๕.๕,๐.๙๒,ภก,PKT,TH-๘๓,TH๖๒\nยะลา,Yala,๕๐๐๘๑๔,๔๕๒๑.๐๘,๑๑๐.๗๗,๐.๖๘๗,ยล,YLA,TH-๙๕,TH๗๐\nระนอง,Ranong,๑๘๓๐๗๙,๓๒๙๘.๐,๕๕.๕,๐.๖๗,รน,RNG,TH-๘๕,TH๕๙\nสงขลา,Songkhla,๑๓๕๗๐๒๓,๗๓๙๓.๙,๑๘๓.๕,๐.๖๘,สข,SKA,TH-๙๐,TH๖๘\nสตูล,Satun,๒๙๗๑๖๓,๒๔๗๙.๐,๑๑๙.๙,๐.๖๕๕,สต,STN,TH-๙๑,TH๖๗\nสุราษฎร์ธานี,Surat Thani,๑๐๔๖๗๗๒,๑๒๘๙๑.๕,๘๑.๒,๐.๘๔,สฎ,SNI,TH-๘๔,TH๖๐'

In [20]:
def arabic2thai(s: str):
    # d={
    # '0': '๐',
    # '1': '๑',
    # '2': '๒',
    # '3': '๓',
    # '4': '๔',
    # '5': '๕',
    # '6': '๖',
    # '7': '๗',
    # '8': '๘',
    # '9': '๙'
    # }
    d={chr(n):chr(int(chr(n)) + ord('๐')) for n in range(ord('0'), ord('9') + 1)}
    s_th=''
    for c in s:
        if c.isdigit():
            s_th += d[c]
        else:
            s_th += c
    return s_th

In [22]:
s_th=arabic2thai(s)
with open('thainumeral.txt', encoding='utf8', mode='w') as f:
    f.write(s_th)

In [8]:
ord('0')

48

In [9]:
ord('1')

49

In [10]:
chr(48)

'0'

In [14]:
ord('๐')

3664

In [17]:
for n in range(ord('0'), ord('9') + 1):
    print(chr(n), chr(int(chr(n)) + ord('๐')))

0 ๐
1 ๑
2 ๒
3 ๓
4 ๔
5 ๕
6 ๖
7 ๗
8 ๘
9 ๙

In [18]:
d2={}
for n in range(ord('0'), ord('9') + 1):
    d2[chr(n)] = chr(int(chr(n)) + ord('๐'))
d2

{'0': '๐',
 '1': '๑',
 '2': '๒',
 '3': '๓',
 '4': '๔',
 '5': '๕',
 '6': '๖',
 '7': '๗',
 '8': '๘',
 '9': '๙'}

In [19]:
d3={chr(n):chr(int(chr(n)) + ord('๐')) for n in range(ord('0'), ord('9') + 1)}
d3

{'0': '๐',
 '1': '๑',
 '2': '๒',
 '3': '๓',
 '4': '๔',
 '5': '๕',
 '6': '๖',
 '7': '๗',
 '8': '๘',
 '9': '๙'}